@model HelloChat.ViewModels.HomeViewModel
    <div class="header">
        <img src="@Model.ProfilePicturePath" alt="profile-picture">
        <div class="user-info">
            <div class="name"><b>@Model.Name</b></div>
            <div class="status">@Model.ActiveString</div>
        </div>
    <input id="checkbox" type="checkbox"/>
    <label class="toggle" for="checkbox">
        <div id="bar1" class="bars"></div>
        <div id="bar2" class="bars"></div>
        <div id="bar3" class="bars"></div>
    </label>
    </div>
    <div class="messages" id="messages">
        @{ 
        ViewData["LastSeenMessageId"] = Model.LastSeenMessageId.ToString();
        ViewData["SenderId"] = Model.SenderId;
        ViewData["ReceiverId"] = Model.ReceiverId;
        }
    <partial name="_MessagesPartial" model="@Model.Messages.ToList()" />
</div>
<form id="chatForm" asp-controller="Home" asp-action="SendMessage" method="post" enctype="multipart/form-data">
    <div class="input-container">
        <input type="hidden" id="ToId" name="ToId" value="@Model.ReceiverId">
        <input type="hidden" id="FromId" name="FromId" value="@Model.SenderId">

        <div class="message-input-wrapper">
            <div id="imagePreviewContainer" class="image-preview-container">
                <img id="imagePreview" class="image-preview" src="" alt="Image Preview">
                <button type="button" id="removeImage" class="remove-image">×</button>
            </div>
            <input class="message-input" type="text" id="Content" name="Content" autocomplete="off" placeholder="Type something...">
        </div>
        <label title="Start Audio" for="startAudio" class="custom-file-upload">🎤</label>
        <input type="button" id="startAudio" hidden>
        <label title="Stop Audio Audio" for="stopAudio" class="custom-file-upload">🎤</label>
        <input type="button" id="stopAudio" hidden>
        <audio id="audioPreview" controls style="display:none;"></audio>
        <label title="Send Image" for="imageInput" class="custom-file-upload">🖼️</label>
        <input type="file" id="imageInput" accept="image/*">

        <button type="submit" id="sendButton" title="Send Message">Send</button>
    </div>
</form>
