@model List<HelloChat.Data.Message>
@{
    var lastSeenMessageId = ViewData["LastSeenMessageId"] as string;
    var senderId = ViewData["SenderId"] as string;
    var receiverId = ViewData["ReceiverId"] as string;
    DateTime LastMessageTime = default(DateTime);
}

@foreach (var m in Model)
{
    string DivClass = "";
    string PClass = "";
    bool isLastSeen = lastSeenMessageId != "" && lastSeenMessageId != null && m.Id == Guid.Parse(lastSeenMessageId);
    if ((LastMessageTime - m.CreatedDate).TotalHours >= 1)
    {
        <small>@m.CreatedDate</small>
    }
    LastMessageTime = m.CreatedDate;
    if (m.isDeleted)
    {
        DivClass = "no-click";
        PClass = "message-removed";
    }
    @* <small>@m.CreatedDate</small> *@
    if (isLastSeen)
    {
        ViewData["Position"] = "right";
        <div class="message-row from right @DivClass" style="margin-bottom:10px;">
            @if (m.ImageUrl != null&&!m.isDeleted)
            {
                <div class="message @PClass" id="@m.Id">
                    <img class="message-image" src="@m.ImageUrl" onclick="openImageModal(this.src)" /> <partial name="_MessageReactionPartial" model="@m" />
                </div>
            }else{
                <div class="message sent @PClass" id="@m.Id">@m.Content <partial name="_MessageReactionPartial" model="@m" /></div>
            }
            <div class="message-options deleteOwnMessage" style="order: 1;">🗑️</div>
            <div class="message-options React" style="order: 1;">😃</div>
            <small class="read-status-message"><strong>Read</strong> @(m.SeenTime.HasValue ? m.SeenTime.Value.ToString("HH:mm") : "")</small>
            <partial name="_ReactionContainerPartial" />
        </div>
        continue;
    }
    if (senderId == m.From_id && !m.isLocalDeleted)
    {
        ViewData["Position"] = "right";
        <div class="message-row from right @DivClass">
            @if (m.ImageUrl != null && !m.isDeleted)
            {
                <div class="message @PClass" id="@m.Id">
                    <img class="message-image" src="@m.ImageUrl" id="@m.Id" onclick="openImageModal(this.src)" /> <partial name="_MessageReactionPartial" model="@m" />
                </div>
            }else{
                <div class="message sent @PClass" id="@m.Id">@m.Content <partial name="_MessageReactionPartial" model="@m" /></div>
            }
            <div class="message-options deleteOwnMessage" style="order: 1;">🗑️</div>
            <div class="message-options React" style="order: 1;">😃</div>
            <partial name="_ReactionContainerPartial" />
        </div>
    }
    if (receiverId == m.From_id)
    {
        ViewData["Position"] = "left";
        <div class="message-row to left @DivClass">
            @if (m.ImageUrl != null && !m.isDeleted)
            {
                <div class="message @PClass" id="@m.Id">
                    <img class="message-image" src="@m.ImageUrl" id="@m.Id" onclick="openImageModal(this.src)" /> <partial name="_MessageReactionPartial" model="@m" />
                </div>
            }
            else{
                <div class="message received @PClass" id="@m.Id">@m.Content <partial name="_MessageReactionPartial" model="@m" /></div>
            }
            <div class="message-options deleteSenderMessage" style="order: 3;">🗑️</div>
            <div class="message-options React" style="order: 3;">😃</div>
            <partial name="_ReactionContainerPartial" />
        </div>
    }
}
