@model HelloChat.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
    string InnerText="";
    string Action = "";
    string Method = "";
    if (Model.FriendshipStatus == HelloChat.Enums.FriendshipStatus.NoFriends){
        InnerText = "Add Friends";
        Action = "SendFriendRequest";
        Method = "post";
    }
    else if (Model.FriendshipStatus == HelloChat.Enums.FriendshipStatus.Friends)
    {
        InnerText = "Unfriend";
        Action = "DeleteFriend";
        Method = "post";
    }
    else if (Model.FriendshipStatus == HelloChat.Enums.FriendshipStatus.FriendRequestSend)
    {
        InnerText = "Cancel Friend Request";
        Action = "DeleteFriendRequest";
        Method = "post";
    }
    else if (Model.FriendshipStatus == HelloChat.Enums.FriendshipStatus.SameUser){
        InnerText = "Edit Profile";
        Action = "Edit";
        Method = "get";
    }
    else
    {
        InnerText = "Accept Friend Request";
        Action = "AcceptFriendRequest";
        Method = "post";
    }
}

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                @if (Model.ProfilePicturePath != null && Model.ProfilePicturePath != "")
                {
                    <img src="@Model.ProfilePicturePath" alt="Profile Picture" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover;" />
                }
                else
                {
                    <img src="/images/blank-profile-picture.webp" alt="Profile Picture" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover;" />
                }
            </div>
        </div>

        <div class="col-md-8">
            <h2>@Model.FullName</h2>
            <p><strong>Email:</strong> @Model.Email</p>
            <div class="d-flex justify-content-center mt-4">
                <form id="friendRequestForm" asp-controller="Profile" asp-action="@Action" method="@Method">
                    <input id="ToId" type="hidden" name="id" value="@Model.Id" />
                    <input id="FromUserName" type="hidden" name="id" value="@ViewBag.FromUserName" />
                    <input type="hidden" id="FromId" value="@ViewBag.FromId">
                    <button type="submit" class="btn btn-outline-primary me-2" style="width: 120px;">@InnerText</button>
                </form>
                <button class="btn btn-outline-success" style="width: 120px;">Send Message</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
