@using HelloChat.Enums
@model ICollection<HelloChat.ViewModels.FriendsViewModel>
@section Styles {
    <link href="/css/Home.css" rel="stylesheet" />
}

<div class="container"> 
    <div class="friends-list">
        <h2>Conversations</h2>
        <input type="text" class="search-box" placeholder="Search friends...">
        <input type="hidden" id="FromId" value="@ViewBag.FromId">
            @foreach (var item in Model)
            {
                <input type="hidden" class="friend-id" value="@item.UserId" />
            <div class="friend ConversationChanger" data-user-id="@item.UserId" data-conversation-id="@item.ConversationId">
                    <div class="image-div">
                        <img src="@item.ProfileImageUrl" alt="profile-picture">
                        <div class="online-circle" id="@item.UserId"></div>
                    </div>
                <div class="friend-info">
                    <div class="friend-name">@item.Name</div>
                        @if (item.lastMessage == null)
                        {
                            <div class="last-message">No messages</div>
                        }
                        else
                        {
                            <div class="last-message">@item.lastMessage . @item.sentTime</div>
                        }
                    </div>
                    @if (item.isLastMessageSeen == true || item.isLastMessageSeen == null)
                    {
                        <div class="new-message" style="display:none">
                        </div>
                    }
                    else{
                        <div class="new-message" style="display:block">
                        </div>
                    }
                </div>
            }
    </div>
    <div class="chat-container" id="chat-container">
    </div>
</div>
    
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

    
